/* .from{
    height: 1000px;
} */
.footer {
    margin-top: 50px;
    size: 40px;
}

h3 ,label, tr, th, td {
    font-family: Times New Roman;
}

.text{
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 20px;
}
