<div class="row" style="margin-right: 120px;">
    <h3 class="text-center mt-5 mb-5"><b>Sự kiện</b></h3>
    <p class="text">
        Chúng tôi luôn nỗ lực đem đến cho khách hàng giá trị làm đẹp lành mạnh với những bước tiến từ Viện nghiên cứu Green Innovation Lab. 
        Tại đây, chúng tôi nghiên cứu và phát triển những thành phần có nguồn gốc từ thiên nhiên, lành tính và mang lại hiệu quả cao.
        Chúng tôi luôn nỗ lực đem đến cho khách hàng giá trị làm đẹp lành mạnh với những bước tiến từ Viện nghiên cứu Green Innovation Lab. 
        Tại đây, chúng tôi nghiên cứu và phát triển những thành phần có nguồn gốc từ thiên nhiên, lành tính và mang lại hiệu quả cao.
        Chúng tôi luôn nỗ lực đem đến cho khách hàng giá trị làm đẹp lành mạnh với những bước tiến từ Viện nghiên cứu Green Innovation Lab. 
        Tại đây, chúng tôi nghiên cứu và phát triển những thành phần có nguồn gốc từ thiên nhiên, lành tính và mang lại hiệu quả cao.Chúng 
        tôi luôn nỗ lực đem đến cho khách hàng giá trị làm đẹp lành mạnh với những bước tiến từ Viện nghiên cứu Green Innovation Lab. Tại đây, 
        chúng tôi nghiên cứu và phát triển những thành phần có nguồn gốc từ thiên nhiên, lành tính và mang lại hiệu quả cao. Chúng tôi luôn nỗ 
        lực đem đến cho khách hàng giá trị làm đẹp lành mạnh với những bước tiến từ Viện nghiên cứu Green Innovation Lab. Tại đây, chúng tôi 
        nghiên cứu và phát triển những thành phần có nguồn gốc từ thiên nhiên, lành tính và mang lại hiệu quả cao.Chúng tôi luôn nỗ lực đem đến 
        cho khách hàng giá trị làm đẹp lành mạnh với những bước tiến từ Viện nghiên cứu Green Innovation Lab. Tại đây, chúng tôi nghiên cứu và 
        phát triển những thành phần có nguồn gốc từ thiên nhiên, lành tính và mang lại hiệu quả cao.Chúng tôi luôn nỗ lực đem đến cho khách hàng 
        giá trị làm đẹp lành mạnh với những bước tiến từ Viện nghiên cứu Green Innovation Lab. Tại đây, chúng tôi nghiên cứu và phát triển những 
        thành phần có nguồn gốc từ thiên nhiên, lành tính và mang lại hiệu quả cao.Chúng tôi luôn nỗ lực đem đến cho khách hàng giá trị làm đẹp 
        lành mạnh với những bước tiến từ Viện nghiên cứu Green Innovation Lab. Tại đây, chúng tôi nghiên cứu và phát triển những thành phần có 
        nguồn gốc từ thiên nhiên, lành tính và mang lại hiệu quả cao.Chúng tôi luôn nỗ lực đem đến cho khách hàng giá trị làm đẹp lành mạnh với 
        những bước tiến từ Viện nghiên cứu Green Innovation Lab. Tại đây, chúng tôi nghiên cứu và phát triển những thành phần có nguồn gốc từ thiên 
        nhiên, lành tính và mang lại hiệu quả cao.Chúng tôi luôn nỗ lực đem đến cho khách hàng giá trị làm đẹp lành mạnh với những bước tiến từ Viện 
        nghiên cứu Green Innovation Lab. Tại đây, chúng tôi nghiên cứu và phát triển những thành phần có nguồn gốc từ thiên nhiên, lành tính và mang 
        lại hiệu quả cao.Chúng tôi luôn nỗ lực đem đến cho khách hàng giá trị làm đẹp lành mạnh với những bước tiến từ Viện nghiên cứu Green Innovation 
        Lab. Tại đây, chúng tôi nghiên cứu và phát triển những thành phần có nguồn gốc từ thiên nhiên, lành tính và mang lại hiệu quả cao.Chúng tôi 
        luôn nỗ lực đem đến cho khách hàng giá trị làm đẹp lành mạnh với những bước tiến từ Viện nghiên cứu Green Innovation Lab. Tại đây, chúng tôi 
        nghiên cứu và phát triển những thành phần có nguồn gốc từ thiên nhiên, lành tính và mang lại hiệu quả cao.Chúng tôi luôn nỗ lực đem đến cho 
        khách hàng giá trị làm đẹp lành mạnh với những bước tiến từ Viện nghiên cứu Green Innovation Lab. Tại đây, chúng tôi nghiên cứu và phát triển 
        những thành phần có nguồn gốc từ thiên nhiên, lành tính và mang lại hiệu quả cao.
    </p>
</div>